body {
	background-color: #F7DCB4;
}
h1 {
	color: #663333;
	font-size: 60px;
	font-family: 'Noto Serif', serif;
	margin-bottom: 15px;
	clear: :both;
}
img {
	float: left;
	width: 60px;
}
.task-column {
	border-right: 1px solid #EEEEEE
}
.done {
	text-decoration: line-through;
}
h4, .task-name {
	padding: 0px 5px 0px 5px;
	font-size: 25px;
	font-family: 'Indie Flower', cursive;
}
.edit-form {
	display: none;
}
.button-holder {
	margin-bottom:  30px;
	display: inline;
	float: right;
}

@media (max-width: 500px) {
	h1 {
		font-size: 45px;
	}
	img {
		width: 45px;
	}
  h4 {
    font-size: 15px:;
  }
}